.content {

    position: relative;
    z-index:1;
    background:#fff;
    padding-top:$padding-mobile;
    padding-bottom:$padding-mobile;

    @include media-breakpoint-up(lg){
        padding-top:$padding-desktop;
        padding-bottom:$padding-desktop;

        &.xl {
            padding-top:#{$padding-desktop * 2};
            padding-bottom:#{$padding-desktop * 2};
        }
    }

}

.grey-bg {
    background:$light;
}

.primary-bg {
    background:$primary;
    color:#fff;
    a {
        color:#fff;
        &:after {
            background:#fff;
        }
    }
}

.border-gradient-bottom {

    position:relative;

    &:after {
        content:'';
        height:30px;
        width:100%;
        display:block;
        position:absolute;
        bottom:0;
        left:0;
        background: linear-gradient(45deg, rgba(244,4,2,1) 0%, rgba(244,4,2,0.3) 20%, rgba(244,4,2,0) 100%);

        @include media-breakpoint-up(lg){
            height:80px;
        }
    }

}

.spacer {

    height:20px;
    background:$primary;

    &.secondary-color {
        background:$secondary;
    }
}
