$primary: #f40402;
$secondary: #002540;
$light: #eee;

$font: 'Work Sans', sans-serif;

$padding-mobile: 50px;
$padding-desktop:80px;


.overlay {
    content:'';
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
}
