a {

    position:relative;

    &:after {
        content:'';
        width:0;
        transition:0.2s;
        background:$primary;
        height: 1px;
        display: block;
        position: absolute;
        bottom:-3px;
        left:0;
    }

    &:hover, &:active, &:focus {
        &:after {
            width:100%;
        }
    }

}
