footer {

    position:relative;
    background:$dark;
    z-index:1;
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    margin-bottom:8px;

    &:after {
        content:'';
        height:8px;
        width:100%;
        background:$primary;
        display:block;
        position:absolute;
        left:0;
        bottom:-8px;
    }

    p {
        margin-bottom:0;
    }

}
