header {

    background:#fff;
    padding-top:20px;
    padding-bottom:20px;

    position: relative;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.15);
    z-index:1000;

    .container {

        @include media-breakpoint-up(lg){
            display:flex;
            align-items: center;
        }
    }

    img {

        height:40px;
        margin: 0;

        @include media-breakpoint-up(lg){
            height:100px;
        }
    }

    .nav-img {

        &:after {
            display:none;
        }

        @include media-breakpoint-up(lg){
            margin-right:40px;
        }

    }

}
