.photo-bg {

    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top:100px;
    padding-bottom:100px;
    position:relative;

    @include media-breakpoint-up(lg){
        padding-top:250px;
        padding-bottom:250px;
    }

    &:before {
        content:'';
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        background:rgba(0,0,0,0.3);
    }

    .photo-bg__textbox {
        position:relative;
        z-index:2;
        color:#fff;
    }


    h2 {
        text-transform:uppercase;
        font-weight:lighter;
        font-size:40px;
        color:#fff;

        @include media-breakpoint-up(lg){
            font-size:55px;
        }
    }

}
