body {
  font-family:$font;
}

h1 {
    @include media-breakpoint-up(lg){
        font-size:4rem;
    }
}

h2 {
    @include media-breakpoint-up(lg){
        font-size:3rem;
    }
}

h3 {
  font-size:2rem;
  margin-bottom:20px;
  line-height: 1.4;
}

p, li {
  font-size:19px;
}

a {
  color:$primary;
  transition: 0.4s;
  &:hover, &:active, &:focus {
    color:lighten($primary,10%);
    text-decoration: none;
  }
}

.lite {
  font-weight:300;
}

.text-primary {
    color:$primary!important;
}

.font-size-lg {
    font-size: 3rem;
}
